@charset "utf-8";


body{

    width: 100%;
    height: 100%;
}


.corp .form-horizontal{
   width: 200px; 
   height: 200px;
   position: absolute;
   top: 50%;
   left:50%;
   margin-top: -100px;
   margin-left: -100px;
}